@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root {
    --radius: 1.1rem;
    --clr-bg: #fff;
    --clr-fg: black;
}

.light-theme {
    --clr-fg: black;
    --clr-bg: #fff;
}

.dark-theme {
    --clr-fg: #fff;
    --clr-bg: black;
    background-color: black;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', serif;
    background-color: #ccc;
}

.scroller {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 7px;
    background-color: #0e56a8;
    z-index: 999;
}

.container {
    position: relative;
    margin: 1.5rem auto;
    background-color: rgb(148, 174, 231);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
}

.switch-mode {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.dark-mode-btns {
    position: relative;
    background: 0;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.4s linear;
}

.dark-mode-btns::after {
    content: attr(aria-label);
    position: absolute;
    top: 130%;
    left: 0;
    background-color: var(--clr-fg);
    color: var(--clr-bg);
    width: max-content;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    cursor: text;
    transform: scale(0);
}

.dark-mode-btns:hover::after {
    transform: scale(1);
}

.light-btn {
    color: rgb(233, 211, 19);
    display: none;
}

.show-btn .light-btn {
    display: inline;
}

.show-btn .dark-btn {
    display: none;
}

header {
    text-align: center;
    margin: 1rem;
}

.fa-clipboard-list {
    color: rgb(228, 228, 12);
}

.alert {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    border-radius: var(--radius);
    padding: .5rem 0;
    text-transform: capitalize;
}

.alert-danger {
    color: #721c24;
    background: #f8d7da;
}

.alert-success {
    color: #155724;
    background: #d4edda;
}

.new-note {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 1rem;
    gap: 1rem;
}

.note {
    font-family: inherit;
    font-size: 1.1rem;
    border: none;
}

.note-value {
    font-family: inherit;
    font-size: 1.1rem;
    border: none;
}

input:focus {
    outline: none;
}

.add {
    width: 20%;
    border: 2px solid black !important;
    font-size: 1.1rem;
}

/* form style */

.search-container {
    width: 50%;
    margin: 0.75rem auto;
    padding: 0.1rem 0.75rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: var(--radius);
}

.search {
    width: 100%;
    background-color: white;
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius);
    font-family: inherit;
    border: none;
    font-size: 1.1rem;
}

/* search icon style */
.fa-magnifying-glass {
    font-size: 1.1rem;
}

.comment {
    display: flex;
    gap: 1rem;
    width: 70%;
}

.comment-name {
    width: 60%;
    background-color: white;
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius);
    color: black;
    font-family: inherit;
    text-align: center;
}

.comment-name.field {
    text-align: start;
}

.comment-name::first-letter {
    text-transform: capitalize;
}

.money {
    font-family: inherit;
    background-color: white;
    padding: 0.5rem;
    border-radius: var(--radius);
    font-weight: 700;
    color: green;
    width: 30%;
    text-align: center;
}

.comment-btns {
    border-radius: var(--radius);
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.btn {
    border: none;
    padding: 0.5rem;
    border-radius: var(--radius);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s linear;
}

.delete {
    color: red;
    font-size: 1.15rem;
    background-color: white;
}

.edit {
    color: navy;
    font-size: 1.15rem;
    background-color: white;
}

.add:hover {
    background-color: #55f17a;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff !important;
}

.total {
    display: flex;
    gap: 1rem;
    width: 70%;
}

.total-name {
    text-align: center;
    text-transform: capitalize;
    color: black;
    font-weight: 700;
    letter-spacing: 3px;
    width: 60%;
    background-color: white;
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius);
    font-family: inherit;
}

.total-money {
    font-family: inherit;
    background-color: white;
    padding: 0.5rem;
    border-radius: var(--radius);
    font-weight: 700;
    color: rgb(202, 65, 65);
    width: 30%;
    text-align: center;
}

.total-container {
    visibility: hidden;
}

.show-total {
    visibility: visible;
}

.hide-item {
    display: none;
}

.dark-theme .container {
    background-color: #312929eb;
}

@media (max-width:500px) {
    .container{
        max-width: 90%;
    }
    .search-container{
        width: 65%;
    }
    .comment{
        width: 80%;
    }
    .comment-name{
        width: 75%;
    }
    .add{
        font-size: 10px;
    }
    .total{
        width: 80%;
    }
}
